<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang | default "nl" }}">
  <head>
    {{- partial "head.html" . -}}
  </head>
  <body>
    <a class="mox-skip-link" href="#main-content">Ga direct naar inhoud</a>
    {{- partial "header.html" . -}}
    {{- if site.Params.breadcrumbs.enable -}}
      {{- partial "breadcrumbs.html" . -}}
    {{- end -}}
    <main id="main-content" class="mox-page-grid">
      {{- block "main" . }}{{ end -}}
    </main>
    {{- partial "footer.html" . -}}
    {{- partial "language-switch.html" . -}}
  </body>
</html>
