<header>
  <div class="site-header mox-page-grid">
    <div class="mox-grid-item mox-gridColumn-page mox-paddingBlock-sm">
      <div class="site-header__inner">
        <a href="{{ "/" | relURL }}" class="site-header__logo">
          <img
            src="{{ "images/logo-rijksoverheid.svg" | relURL }}"
            alt="Logo Rijksoverheid"
            class="mox-site-header-logo-rijksoverheid"
          >
        </a>
        {{ with .Site.Title }}<span class="site-title">{{ . }}</span>{{ end }}
      </div>
    </div>
  </div>
  {{ with site.Menus.main }}
  <nav class="site-nav mox-page-grid" aria-label="Hoofdnavigatie">
    <ul class="site-nav__list mox-grid-item mox-gridColumn-page">
      {{ range . }}
      <li class="site-nav__item">
        <a href="{{ .URL }}" class="site-nav__link{{ if $.IsMenuCurrent "main" . }} site-nav__link--active{{ end }}"{{ if $.IsMenuCurrent "main" . }} aria-current="page"{{ end }}>
          {{ .Name }}
        </a>
      </li>
      {{ end }}
    </ul>
  </nav>
  {{ end }}
</header>
